{% extends "_layout" %} {% block content %}

{% set news = craft.entries.section('newsArticles').all() %}

<main class="container">
	<center>
		<h1>Articles</h1>
	</center>

	<div class="articles">
		{% for article in news %}
			{% include "_includes/_blog_article" with { article: article } %}
		{% endfor %}
	</div>
</main>

{% endblock %}