<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>GRAPHQL with craftCMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
	{% block styles %}{% endblock %}
	<style>
		body {
			margin: 0;
			padding: 0;
			background-color: whitesmoke;
			font-family: helvetica;
		}
		.container {
			max-width: 970px;
			margin: 0 auto;
		}
	</style>
</head>
<body class="ltr">
	{% include "_includes/_nav" %}
	
	{% block content %}{% endblock %}
</body>
{% block javascript %}{% endblock %}
</html>
